<?xml version="1.0" encoding="UTF-8"?>
	<!-- logback的配置文件 -->
	<!-- @author zh.sqy@qq.com -->
<configuration>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} > %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="File"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/WinLogFile_%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} > %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="cn.win" level="ON" />
	<logger name="java.sql" level="ON" />
	<logger name="jdbc.sqltiming" level="ON" />
	<root level="ON">
		<appender-ref ref="Console" />
	</root>
</configuration>